.home-first-row
	padding 30px 20px
.home-normal-card
	position relative
	height 200px
	width 200px
	progress-count
		left 35%
		position absolute
		top 35%
		transform scale(3)
		div
			position relative
			span
				position absolute
				text-align center
				top 35%
				width 100%
		md-progress-circular
			left 2%