/*
  Steps
    - .anim-in-setup
    - .anim-in
    - .anim-out-setup
    - .anim-out
*/

// .fadeLeft

.anim-in-out.anim-in-setup.fadeLeft, .anim-in-out.anim-in-setup .fadeLeft
  display none
  
.anim-in-out.anim-in.fadeLeft, .anim-in-out.anim-in .fadeLeft
  animation: fadeInLeft .6s ease-in

.anim-in-out.anim-out-setup.fadeLeft, .anim-in-out.anim-out-setup .fadeLeft
  display block
  
.anim-in-out.anim-out.fadeLeft, .anim-in-out.anim-out .fadeLeft
  animation: fadeOutLeft .6s ease-out
  transition all .6s
  opacity 0

// .fadeRight

.anim-in-out.anim-in-setup.fadeRight, .anim-in-out.anim-in-setup .fadeRight
  display none
  
.anim-in-out.anim-in.fadeRight, .anim-in-out.anim-in .fadeRight
  animation: fadeInRight .6s ease-in

.anim-in-out.anim-out-setup.fadeRight, .anim-in-out.anim-out-setup .fadeRight
  display block
  
.anim-in-out.anim-out.fadeRight, .anim-in-out.anim-out .fadeRight
  animation: fadeOutRight .6s ease-out
  transition all .6s
  opacity 0
  
// .fadeUp

.anim-in-out.anim-in-setup.fadeUp, .anim-in-out.anim-in-setup .fadeUp
  display none
  
.anim-in-out.anim-in.fadeUp, .anim-in-out.anim-in .fadeUp
  animation: fadeInUp .6s ease-in

.anim-in-out.anim-out-setup.fadeUp, .anim-in-out.anim-out-setup .fadeUp
  
.anim-in-out.anim-out.fadeUp, .anim-in-out.anim-out .fadeUp
  animation: fadeOutDown .6s ease-out
  transition all .6s
  opacity 0

// .fadeDown

.anim-in-out.anim-in-setup.fadeDown, .anim-in-out.anim-in-setup .fadeDown
  display none
  
.anim-in-out.anim-in.fadeDown, .anim-in-out.anim-in .fadeDown
  animation: fadeInDown .6s ease-in

.anim-in-out.anim-out-setup.fadeDown, .anim-in-out.anim-out-setup .fadeDown
  
.anim-in-out.anim-out.fadeDown, .anim-in-out.anim-out .fadeDown
  animation: fadeOutDown .6s ease-out
  transition all .6s
  opacity 0

// .fadeLeftText
  
.anim-in-out.anim-in-setup.fadeLeftText, .anim-in-out.anim-in-setup .fadeLeftText
  display none
  opacity 0
  transition all 2s
  
.anim-in-out.anim-in.fadeLeftText, .anim-in-out.anim-in .fadeLeftText
  animation: fadeInLeft 3s linear

.anim-in-out.anim-out-setup.fadeLeftText, .anim-in-out.anim-out-setup .fadeLeftText
  display block
  
.anim-in-out.anim-out.fadeLeftText, .anim-in-out.anim-out .fadeLeftText
  animation: fadeOutLeft .6s ease-out
  transition all .6s
  opacity 0

@-webkit-keyframes swingInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
  }
}
@-moz-keyframes swingInX {
  0% {
    -moz-transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
  }
}
@-o-keyframes swingInX {
  0% {
    -o-transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
  }
}
@keyframes swingInX {
  0% {
    transform: perspective(400px) rotateX(-90deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
  }
}
.animated.swingInX {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ie-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: swingInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: swingInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: swingInX;
  backface-visibility: visible !important;
  animation-name: swingInX;
  animation-duration: .4s
}
@-webkit-keyframes swingOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(-90deg);
  }
}
@-moz-keyframes swingOutX {
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(-90deg);
  }
}
@-o-keyframes swingOutX {
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
  }
  100% {
    -o-transform: perspective(400px) rotateX(-90deg);
  }
}
@keyframes swingOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
  }
  100% {
    transform: perspective(400px) rotateX(-90deg);
  }
}
.animated.swingOutX {
  -webkit-transform-origin: top;
  -webkit-animation-name: swingOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: swingOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: swingOutX;
  -o-backface-visibility: visible !important;
  animation-name: swingOutX;
  backface-visibility: visible !important;
  animation-duration: .4s
}
