.clientescotizacion.dialog-base.clientes
	margin 0 auto
	margin-top 1em
	width 95%
.detalle
	margin-top 1em
	&__toolbar
		position relative
		&__combinations-button
			position absolute
			right 5%
			top 60%
.small-toolbar
	height 50px !important
	min-height 50px !important
	line-height 0
.deephidden
	md-select-value
		overflow hidden
	
.discountpanel, .panelselect
	background #7CC8F5
	box-shadow 0px -1px 3px 0px rgba(0, 0, 0, 0.2), 0px -1px 1px 0px rgba(0, 0, 0, 0.14), 0px -2px 1px -1px rgba(0, 0, 0, 0.12)
	position fixed
	bottom 0
	height 45px
	width 100%
	z-index 1
	span.close
		background #E44B40
		color white
		cursor pointer
		border-radius 5px
		font-size 20px
		padding 5px
		position absolute
		top 5px
		right 18px
.discountpanel.ng-hide-add, .panelselect.ng-hide-add, .discountpanel.ng-hide-remove, .panelselect.ng-hide-remove
	transition all 0.5s
.discountpanel.ng-hide
	bottom -45px
.panelselect.ng-hide
	bottom -110px
.panelselect
	height 110px
.crear-contacto
	margin 0 auto
	margin-top 1em
	width 95%