body,
html
{
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s;
            transition: all .5s;
}
html
{
    opacity: 0;
}
body
{
    background: #ebeff2;
}
.backgroundgray
{
    background: #ebeff2;
}
.hide-selectable tr td:first-child,
.hide-selectable tr th:first-child
{
    display: none !important;
}
.hide-selectable tr td:nth-child(2),
.hide-selectable tr th:nth-child(2)
{
    padding-left: 13px !important;
}
.show-selectable tr td:nth-child(2),
.show-selectable tr th:nth-child(2)
{
    padding-left: 0 !important;
}
.show-selectable tr td:first-child,
.show-selectable tr th:first-child
{
    padding: 0 15px 0 10px !important;
}
.show-selectable .color-cliente
{
    left: -16px;
}
.activate-main-menu-button
{
    position: absolute;
    top: 5px;

    margin: 0 !important;

    -webkit-transition: all .5s;
            transition: all .5s;
}
.activatedmenubutton
{
    top: -5px;
    left: -7px;
}
.mainmenu
{
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100% !important;

    background: #4558c1;
}
.mainmenu .contentmenu
{
    margin-top: 32px;
}
.loginimage
{
    font-family: 'Roboto', sans-serif;

    min-height: 100vh;

    -webkit-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;

    background: url('../images/login-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
default-footer
{
    margin-top: 20px;

    color: #fff;
    background: #37495d;
}
default-footer a
{
    text-decoration: none;

    color: #00a1ff;
}
md-backdrop
{
    position: fixed;
}
basic-filtrator md-select .md-select-value,
.filtrator md-select .md-select-value
{
    border-bottom-color: #fff;
}
basic-filtrator md-select .md-select-value.md-select-placeholder,
.filtrator md-select .md-select-value.md-select-placeholder
{
    color: #fff;
}
basic-filtrator .search-button,
.filtrator .search-button
{
    position: absolute;
    top: 20px;
    right: 13px;
}
basic-filtrator .search-button svg,
.filtrator .search-button svg
{
    margin-top: -5px;
    margin-left: -2px;
}
basic-filtrator .toolbar-button-list,
.filtrator .toolbar-button-list
{
    position: absolute;
    top: 12px;
    right: 8px;

    margin-top: 5px !important;
    margin-left: 10px !important;
}
basic-filtrator .toolbar-button-list .column-icon,
.filtrator .toolbar-button-list .column-icon
{
    margin-top: -6px;
    margin-left: -15px;
}
basic-filtrator .toolbar-button-list svg,
.filtrator .toolbar-button-list svg
{
    margin-top: -5px;
    margin-left: -2px;
}
basic-filtrator .search-field input,
.filtrator .search-field input
{
    position: absolute;
    left: 1%;

    border-bottom: none;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.098), 0 1px 18px 0 rgba(0,0,0,.084);
}
basic-filtrator .search-field md-autocomplete,
.filtrator .search-field md-autocomplete
{
    margin-top: 18px;
    margin-left: 1%;
}
basic-filtrator .search-field md-autocomplete md-autocomplete-wrap input,
.filtrator .search-field md-autocomplete md-autocomplete-wrap input
{
    background: transparent;
    box-shadow: none;
}
basic-filtrator .search-field md-autocomplete md-autocomplete-wrap button,
.filtrator .search-field md-autocomplete md-autocomplete-wrap button
{
    display: none;
}
basic-filtrator .inputs-margin-left,
.filtrator .inputs-margin-left
{
    width: 100%;
}
.counter-clientes
{
    font-size: 14px !important;

    padding: 5px !important;

    color: #fff !important;
    border-radius: 50% !important;
    background: #607d8b !important;
}
.toLowercase
{
    text-transform: lowercase;
}
.label-items
{
    font-size: 13px;

    display: block;

    margin: 0 auto;
    padding: 4px 6px;

    color: #fff;
    border-radius: 4px;
    background: #2ecc71;
}
.label-items.orange-label
{
    background: #e67e22;
}
.repeat-animation
{
    -webkit-transition: all 1s;
            transition: all 1s;
}
.repeat-animation.ng-enter
{
    -webkit-animation: fadeInDown 1s;
            animation: fadeInDown 1s;
}
.repeat-animation.ng-leave
{
    -webkit-animation: fadeOutUp 1s;
            animation: fadeOutUp 1s;
}
.repeat-fade-right-animation
{
    -webkit-transition: all 1s;
            transition: all 1s;
}
.repeat-fade-right-animation.ng-enter
{
    -webkit-animation: fadeInRight 1s;
            animation: fadeInRight 1s;
}
.repeat-fade-right-animation.ng-leave
{
    -webkit-animation: fadeOutLeft 1s;
            animation: fadeOutLeft 1s;
}
.text-center
{
    text-align: center !important;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.text-justify
{
    text-align: justify;
}
.relative
{
    position: relative;
}
.color-white
{
    color: #fff !important;
}
.design-toolbar-icon
{
    position: relative;

    overflow: hidden;
}
.design-toolbar-icon .design-icon
{
    position: absolute;
    top: -6px;
    right: 50px;

    fill: rgba(255,255,255,.17) !important;
}
.loaded
{
    opacity: 1;
}
.icon-fill-white
{
    fill: #fff !important;
}
.icon-fill-gray
{
    fill: #808080 !important;
}
.main-container
{
    position: absolute;

    width: 100%;
    height: 100%;
}
.add-action-button
{
    position: fixed;
    right: 2%;
    bottom: 2%;

    background-color: #0c9c49 !important;
}
.add-action-button svg
{
    margin-top: -4px;
    margin-left: -3px;
}
.main-toolbar
{
    position: fixed;
    top: 0;

    padding-right: 16px;

    -webkit-transition: all .6s;
            transition: all .6s;
}
.main-toolbar.ng-enter.ng-enter-active
{
    -webkit-animation: fadeInDown .8s;
            animation: fadeInDown .8s;
}
.main-toolbar.ng-leave.ng-leave-active
{
    -webkit-animation: fadeOutUp .6s;
            animation: fadeOutUp .6s;
}
.main-toolbar .generate
{
    margin-top: -3px;
}
.main-toolbar .top-menu-button
{
    width: 50px;
    margin: 0;
}
.main-toolbar .profile-menu-content
{
    margin-top: 7px;
    margin-right: 10px;
}
.principal-md-content
{
    background: #ebeff2;
}
.principal-md-content .main-container
{
    margin-top: 64px;
}
.user-menu-button
{
    top: -4px;

    text-align: left;
    text-overflow: ellipsis;
}
.user-menu-button img
{
    box-sizing: content-box;
    width: 35px;
    height: 35px;

    -webkit-transition: all .5s;
            transition: all .5s;
    vertical-align: middle;

    border-radius: 50%;
}
.user-menu-button span
{
    margin-left: 7px;

    vertical-align: middle;
}
.user-menu-toolbar,
.menu-toolbar-default
{
    margin-top: 0;
}
.user-menu-toolbar img,
.menu-toolbar-default img
{
    width: 45px;
    height: 45px;
    margin-top: 8px;

    vertical-align: middle;

    border-radius: 50%;
}
.user-menu-toolbar span,
.menu-toolbar-default span
{
    font-size: 17px;

    margin-top: 20px;
    margin-left: 11px;

    vertical-align: middle;
}
.user-menu-options
{
    padding: 0;
}
.user-menu-options a.md-button
{
    display: block;

    padding-top: 5px;
}
.user-menu-options svg
{
    margin-top: -1px;
}
.menu-default-content
{
    padding: 0;
}
.menu-default-messages
{
    position: relative;
}
.menu-default-messages *
{
    text-overflow: ellipsis !important;
}
.menu-default-messages .desc
{
    font-size: 15px;

    display: inline-block;

    vertical-align: top;
}
.menu-default-messages .desc .name
{
    font-size: 15px;

    display: block;

    margin-top: -4px;

    text-overflow: ellipsis;

    color: #6495ed;
}
.menu-default-messages .desc .msg
{
    font-size: 14px;

    display: block;

    margin-top: -18px;

    text-align: left;

    color: #515151;
}
.menu-default-messages .thumb
{
    display: inline-block;
    overflow: hidden;

    width: 45px;
    height: 45px;
    margin-top: 2px;

    vertical-align: middle;

    border-radius: 50%;
    background: #d3d3d3;
}
.menu-default-messages .thumb img
{
    width: 100%;
    max-width: 100%;
}
.delay.1s
{
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.delay.1-3s
{
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}
.delay.1-6s
{
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
}
.delay.1-9s
{
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
}
.data-table-header
{
    color: #3c3c3c;
    background: #31adff;
}
.number-notification
{
    font-size: 12px;
    line-height: 23px;

    position: absolute;

    display: block;

    width: 23px;
    height: 23px;
    margin-top: 2px;
    margin-left: 19px;

    border-radius: 50%;
    background: #e64c40;
}
.image-in-tap
{
    width: 25px;
}
.image-in-tap.inbox
{
    width: 32px;
}
.main-tabs md-ink-bar
{
    color: #7986cb !important;
    background: #7986cb !important;
}
.header-main-tabs
{
    height: 50px;
    margin-top: -24px;
}
.header-main-tabs h3
{
    font-size: 24px;
    font-weight: 100;
    line-height: 50px;

    -webkit-transition: all .5s;
            transition: all .5s;
    text-align: center;
}
.initial-text
{
    text-transform: initial;
    text-overflow: ellipsis;
}
.initial-text span
{
    text-overflow: ellipsis;
}
.bottom-radius-8
{
    border-radius: 0 0 8px 8px;
}
.toolbar-design
{
    -webkit-transition: all .6s;
            transition: all .6s;

    color: #fff;
}
.toolbar-design.design-1
{
    color: #fff;
    background: #465862 url('../images/design1.png') no-repeat right;
    background-size: 25%;
}
.toolbar-design.design-2
{
    color: #fff;
    background: #154d55 url('../images/design2.png') no-repeat right;
    background-size: 13% 222%;
}
.toolbar-design.design-3
{
    color: #fff;
    background: #00bacf url('../images/design3.jpg') no-repeat right;
    background-size: 21% 101%;
}
.toolbar-design.design-4
{
    color: #fff;
    background: #251f39 url('../images/design4.jpg') no-repeat right;
    background-size: 21%;
}
.toolbar-design.design-5
{
    color: #fff;
    background: #3e7ced url('../images/design5.jpg') no-repeat right;
    background-size: 30%;
}
.toolbar-design.design-6
{
    color: #fff;
    background: #1f9cd6 url('../images/design6.jpg') no-repeat right;
    background-size: 30%;
}
.toolbar-design.design-7
{
    color: #fff;
    background: #2d6e94 url('../images/design7.jpg') no-repeat right;
    background-size: 30%;
}
.toolbar-design.design-8
{
    color: #fff;
    background: #242424 url('../images/design8.jpg') no-repeat right;
    background-size: 30%;
}
.toolbar-design.design-9
{
    background: #4558c1 url('../images/design9.jpg') no-repeat right;
    background-position-x: 106%;
    background-size: 50%;
}
.toolbar-design.design-10
{
    color: #fff;
    background: #4356bd url('../images/design10.jpg') no-repeat right;
    background-size: 30%;
}
.toolbar-design.redonded
{
    border-radius: 10px 10px 3px 3px;
}
.scroller
{
    position: absolute;

    overflow-y: hidden;

    width: 100%;
    height: 100%;
}
.search-animation
{
    -webkit-transition: .6s all;
            transition: .6s all;
}
.search-animation.ng-hide-add
{
    -webkit-animation: fadeOutUp .6s;
            animation: fadeOutUp .6s;
}
.search-animation.ng-hide-remove
{
    -webkit-animation: fadeInDown .6s;
            animation: fadeInDown .6s;
}
.text-title-animation
{
    position: absolute;
    top: 14px;
    left: 25px;

    -webkit-transition: all .6s;
            transition: all .6s;
}
.text-title-animation.ng-hide-add
{
    -webkit-animation: fadeOutDown .6s;
            animation: fadeOutDown .6s;
}
.text-title-animation.ng-hide-remove
{
    -webkit-animation: fadeInUp .6s;
            animation: fadeInUp .6s;
}
.default-content
{
    z-index: 0;
}
.default-content table md-checkbox.md-checked .md-icon
{
    background: #0d679e;
}
.dialog-base.terminosdepago
{
    width: 400px;
}
md-dialog .rg-left,
md-dialog .rg-right,
md-dialog .rg-top,
md-dialog .rg-bottom
{
    position: absolute;
    z-index: 9;
    top: 0;

    width: 6px;
    height: 100%;

    cursor: w-resize;
}
md-dialog .rg-top,
md-dialog .rg-bottom
{
    width: 100%;
    height: 6px;

    cursor: n-resize;
}
md-dialog .rg-right
{
    right: 0;
}
md-dialog .rg-bottom
{
    bottom: 0;
}
.fixed-table .fixed-table-header
{
    position: fixed;
    z-index: 1;
    top: 0;

    width: 99%;

    -webkit-animation: fadeInDown .8s;
            animation: fadeInDown .8s;

    background: #4558c1;
}
.fixed-table .fixed-table-header th div
{
    color: #fff;
}
.table-font
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.table-font td
{
    padding: 5px !important;
}
.options-table-button
{
    width: 36px !important;
}
.justify-center
{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.justify-center-into-div div
{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.discount-green-input,
.discount-red-input
{
    text-align: center;

    color: #fff !important;
    border-radius: 5px !important;
    background: #2ecc71 !important;
}
.discount-red-input
{
    background: #e74c3c !important;
}
.animate-show
{
    opacity: 1;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove
{
    -webkit-transition: all .5s;
            transition: all .5s;
}
.animate-show.ng-hide
{
    opacity: 0;
}
.md-lightgreen
{
    color: #fff !important;
    background: #2ecc71 !important;
}
.md-darkgreen
{
    color: #fff !important;
    background: #27ae60 !important;
}
.md-red
{
    color: #fff !important;
    background: #e44a40 !important;
}
.hidden-xy
{
    overflow: hidden;
}
